/* --- completed on 24-3-2019 ---*/
@import url('https://fonts.googleapis.com/css?family=Cuprum');

body{
    overflow-x: hidden;
    font-family: 'Cuprum', sans-serif;
    color: #001428;
}
/*-- navbar --*/

.navbar{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.9rem;
    letter-spacing: 0.1rem;
    background: rgba(0, 0, 0,0.9)!important;
    
}

.navbar-brand img{
    height: 3.5rem;
    margin-left: 5.5em;
}

.navbar-nav li{
    padding-right: 2.7rem;
    color: aliceblue;
}

.navbar-dark .navbar-nav .nav-link{
    color: white;
    padding-top: .7rem;
    
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover
{
    color: #ffff51;
    padding-top: 0.7rem;
}


/*loading page*/
.home-inner{
    
    background-image: url("imgonline-com-ua-Piconpic-Ig3Gbb1qgM.jpg");
   
}

.caption{
    width: 100%;
    max-width: 100%;
    position: absolute;
    top: 38%;
    z-index: 1;
    color: white;
    text-transform: uppercase;
}
.caption h1{
    font-size: 3.8rem;
    font-weight: 700;
    letter-spacing: .3rem;
    padding-bottom: 1.6rem;
    color: #ffff51;
}
.caption h3{
    padding: 0 5% 0 5%;
    color: #ffff51;
}
.btn-lg{
    border-width: medium;
    padding: 0.6rem 1.3rem;
    font-size: 1.1rem;
    color: #ffff51;
    border-color: #ffff51;
}
.btn-lg:hover{
    background-color:#ffff51;
    border-color: black;
}

/*-- course section --*/
.narrow{
    width: 75%;
    margin: 1.5rem auto;
    padding-top: 2rem;
}
.btn-secondary{
    border-width: medium;
    text-transform: uppercase;
    font-size: 1.2rem;
    padding: 0.6rem 1.2rem;
    margin: 1rem;
    color: black;
    border-color: #ffff51;
    background-color: white;
}

.btn-secondary:hover{
    
    color: black;
    border-color: #ffff51;
    background-color: #ffff51 !important;
}
/*--feature section--*/
.jumbotron{
    margin-bottom: 0;
    padding: 2rem 0 3.5rem;
    border-radius: 3%;
}

h3.heading{
    font-size: 1.9rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 1.9rem;
}

.heading-underline{
    width: 3rem;
    height: 0.2rem;
    background-color:#ffff51;
    margin: 0 auto 2rem;
}

.feature i{
    color: white;
}

.feature i:hover{
    color: #ffff51;
}
.feature p{
    font-size: 1.1rem;
}
.feature h3{
    font-size: 1.3rem;
    text-transform: uppercase;
    padding-bottom: 0.4rem;
}
/*-- our project --*/
.project ul li{
    list-style: none;
}

.project ul li img{
   width: 550px;
    
    margin: 0;
    padding: 0;
}
.p-project{
    height: auto;
   
    margin-top: 20;
  
}

.clients img{
    width: 100%;
    max-width: 100%;
    border-radius: 7%;
    border: 3px solid rgba(255, 246, 0,0.6)
}

.clients h1{  
    padding: 5%;
}

hr.socket{
    width: 90%;
    border-top: 0.2rem solid #ffff51;
    margin-top: 1rem;
}

/*-- footer --*/

footer{
    background-color:#000000;
    color: #ffff51;
    padding: 2rem 0 2rem;
    margin-top: 1rem;
}
footer img{
    height: 6rem;
    margin: 1.5rem 0;
}
footer a{
    color: white;
    
}
footer a:hover{
    color: #ffff51; 
}

footer i.fab{
    
    font-size: 2.5rem;
    letter-spacing: 1rem;
}

i.fab{
    
    font-size: 4.5rem;
    letter-spacing: 1rem;
    padding-bottom: 2rem;
}

i.fas{
    
    font-size: 4.5rem;
    letter-spacing: 1rem;
    padding-bottom: 2rem;
}










/*-- media Queries --*/

@media (max-width:767px){
    .client img{
        max-width: 50%;
        display: block;
        margin: 0 auto;
    }
    .caption h1{
        font-size: 2.3rem;
        letter-spacing: 0.15rem;
        padding-bottom: 0.5rem;
    }
    .caption h3{
        font-size: 1.2rem;
       
        padding-bottom: 1.2rem;
    }
    .btn-lg{
        padding: 0.5rem 1rem;
        font-size: 1rem;
    }
}
